body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto;
}

body > div {
    display: flex;
    flex: 1;
    padding: 0 5%;
}

.main {
    padding: 30px 5%;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 20px 0;
    color: #1F2937;
    font-size: 12px;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
}

#header-links,
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.header,
.footer,
.top {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
}

.quote {
    background-color: #E5E7EB;
}

.header,
.footer {
    flex-grow: 0;
    align-items: center;
}

.header {
    justify-content: space-between;
}
.footer {
    justify-content: center;
}

.header-content {
    flex-grow: 0;
    flex-shrink: 0;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0px 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero {
    font-size: 48px;
    font-weight: bold;
    flex: 1;
}

.hero-sub {
    flex: 1;
}

#sign-in {
    flex-shrink: 0;
    margin-right: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 0;
    background-color: #3882F6;
    border: 0px;
    border-radius: 4px;
    color: #F9FAF8;
}
#beach {
    width: 400px;
    padding-left: 60px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cta-box {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
}

.cta-title {
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.cta-txt {
    color: #E5E7EB;
    font-size: 15px;
}

#cta-btn {
    margin-left: 100px;
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 3px 20px;
    border-width: 1px;
    border-style: solid;
}


.random {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tiles {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.random-img {
    border-width: 2px;
    padding: 70px;
    margin-bottom: 10px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.random-txt {
    text-align: center;
}